* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

*::selection {
  color: var(--grey);
  background: var(--salmon);
}

:root {
  --grey: #0f1108;
  --beige-bg: #f2efea;
  --salmon: #edb3a3;
}

body {
  background: var(--beige-bg);
  color: var(--grey);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: "Staatliches";
  font-weight: 400;
  color: var(--grey);
}

h1 {
  margin-bottom: 60px;
  text-align: center;
}

h2 {
  font-size: 32px;
}

header {
  margin: 25px 0 0 25px;
  height: 50px;
  width: 50px;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.icon {
  width: 100%;
  height: 6px;
  border-radius: 100px;
  background: var(--grey);
  z-index: 1;
  position: relative;
  transition: 0.3s;
}

.icon::after,
.icon::before {
  position: absolute;
  content: "";
  height: inherit;
  width: inherit;
  top: 12px;
  background: inherit;
  border-radius: inherit;
  transition: 0.3s;
}

.icon::before {
  top: -12px;
}

.burger.close .icon {
  width: 50%;
}

.burger.close .icon::after,
.burger.close .icon::before {
  width: 0px;
  top: 0;
}

.menu {
  padding: 25px 15px;
  position: absolute;
  top: 50px;
  left: calc(-100vw - 25px);
  width: 100vw;
  min-height: 100vh;
  background: var(--beige-bg);
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in;
}

.menu.show-menu {
  left: -38px;
}

.link {
  padding: 5px 0;
}

.link a:hover {
  text-decoration: underline var(--salmon);
}

.content {
  margin: 50px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  width: 100%;
  max-width: 488px;
  height: 35px;
  font-size: 18px;
  margin-bottom: 15px;
  background: var(--beige-bg);
  border: 1px solid var(--grey);
  color: var(--grey);
  border-radius: 4px;
  padding-left: 5px;
}

.number-of-car {
  font-size: 24px;
  margin-bottom: 15px;
}

.number-of-car.zero {
  color: #ff4b4b;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.car {
  margin: 0 2% 80px 2%;
  display: flex;
  flex-direction: column;
  background: var(--salmon);
  padding: 0 10px 25px 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
  max-width: 488px;
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.see-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 50px;
  background: none;
  outline: none;
  color: var(--grey);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  font-size: 1.3em;
  font-weight: bold;
  transition: 0.1s;
}

.see-more:hover {
  color: var(--beige-bg);
}

.see-more:focus {
  color: var(--grey);
}

.head {
  display: flex;
  flex-direction: column;
  position: relative;
}

.more-info {
  display: none;
  overflow: hidden;
  transition: 1s;
}

.more-info.display-content {
  display: initial;
}

.car img {
  max-width: 100%;
}

.line {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.line h3 {
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 10px;
}

.name {
  order: -2;
  width: calc(100% + 25px);
  padding-top: 25px;
  align-self: center;
  align-items: center;
  background: var(--beige-bg);
}

.name h2 {
  width: fit-content;
}

.car .image {
  order: -1;
  align-self: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 25px;
  border: 4px solid var(--beige-bg);
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); */
  border-radius: 6px;
}

.description p {
  text-align: justify;
}

.back-to-top {
  font-family: "Staatliches";
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  color: var(--salmon);
  background: var(--grey);
  border-radius: 100%;
  font-size: 30px;
  border: 0;
  outline: none;
  transition: 0.1s;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}

.back-to-top:hover {
  opacity: 0.8;
}

.back-to-top.hide {
  display: none;
}

@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 45px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey: #fefefe;
    --beige-bg: #282928;
    --salmon: #2e7e81;
    /* 8b687f */
  }
  img {
    filter: grayscale(20%);
  }
}
